.verify-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: -318%;
}

.verify-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #222;
    flex-shrink: 0;
}

.verify-description {
    font-size: 17px;
    margin-bottom: 20px;
}

.verify-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 16px;
}

.verify-button {
    width: 100%;
    padding: 12px;
    background-color: #002b80;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.verify-button:hover {
    background-color: #001f5c;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-login {
    margin-top: 16px;
}

.back-login a {
    color: #0044cc;
    text-decoration: none;
}